@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
  min-height: 100vh;
}

main {
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 500px;
  flex-direction: column;
  margin: auto;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  color: hsl(218, 44%, 22%);
}

.text {
  text-align: center;
  width: 280px;
  /* padding: 20px; */
}

p {
  display: inherit;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  padding-top: 20px;
}

/* 
  margin: top/right/bottom/left
  padding: top/right/bottom/left */